* {
    box-sizing: border-box;
    font-family: 'Segoe UI';
}
body {
    margin: 0px;
    
    height: 100vh;
}
.wrapper {
    height: 100%;
    
    display: flex;
}
.window {
    margin: auto;
}
.frame {
    margin: 48px;

    width: 928px;
}
.top-bar {
    height: 78px;
    
    text-align: center;
}