.left-bar {
    position: relative;
    
    float: left;

    width: 338px;
    height: 460px;
}
.input-group {
    margin-bottom: 11px;
}
label {
    font-size: 34px;
}
select, input[type="text"] {
    flex: auto;

    height: 29px;
    
    font-size: 15px;
}
span {
    color: #797979;
    font-size: 13px;
}
.item-group {
    margin-bottom: 5px;

    height: 29px;
    
    display: flex;
    align-items: center;
}
.del-btn {
    margin-left: 5px;

    width: 23px;
    height: 23px;
    
    color: white;
    border: 0px solid;
    background-color: #ff3333;
}
.add-btn {
    margin-right: 5px;
    
    width: 23px;
    height: 23px;
    
    color: white;
    border: 0px solid;
    background-color: #6bce9d;
}
.bottom-group {
    position: absolute;
    
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.search-btn {
    padding: 0px 37px;
    
    color: white;
    font-size: 26px;
    border: 0px solid;
    background-color: #6bce9d;
}
.right-bar {
    margin-left: 362px;

    width: 566px;
    height: 460px;
    
    display: flex;
    flex-direction: column;
}
.results {
    flex: 1;
    
    padding: 8px;
    
    overflow-y: scroll;
    
    border: 1px solid #a9a9a9;
}
.director {
    margin-bottom: 16px;
    
    display: flex;
}
.director:last-of-type {
    margin-bottom: 0px;
}
.director-img {
    width: 54px;
    height: 80px;
    
    background-size: contain;
    background-repeat: no-repeat;
}
.director-info {
    flex: 1;
    
    margin-left: 8px;
}
.bold-info {
    font-size: 13px;
    font-weight: bold;
}
.normal-info {
    font-size: 12px;
}
.pages {
    padding-top: 4px;
}
.page {
    margin-top: 4px;
    
    padding: 2px 6px;
    
    color: white;
    text-align: center;
    background-color: #6bce9d;
    border: 0px solid;
}
.current-page {
    background-color: #00994d;
}